# ===============================
# IDE / 编辑器配置
# ===============================
.idea/
*.code-workspace

# ===============================
# 构建输出
# ===============================
cmake-build-debug/
build/
*.uvguix.*
*.uvoptx
*.bak
*.axf
*.lst
*.o
*.d

# ===============================
# 临时文件
# ===============================
*.log
*.tmp
.clangd